<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Cursos</title>

    @*<link rel="stylesheet" href="~/Content/Contenido/StyleSheet1.css">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>


    <title>@ViewBag.Title - CursosT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
</head>

<body class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">

            <img src="~/Content/Images/excellence_log.png" width="100" height="100" alt="" loading="lazy" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">

                        Material de Capacitación
                    </a>
                </li>
                @{
                    string Nivel4 = Convert.ToString(Session["Int_IdNivel"]);
                    

                    if (@Nivel4 == "1")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("GridMvcEmpleados", "Home")">
                                Usuarios
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action( "Registro", "Home")">
                                Registro
                            </a>
                        </li>
                    }


                }




            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" href="@Url.Action("Logout", "Home")">

                    Salir

                </a>

                <div class="col-1" style="display:none">
                    <p >
                        @{
                            string Usuario = Convert.ToString(Session["Txt_Usuario"]);
                            @Usuario
                        }
                    </p>
                </div>
                <div class="col-1" style="display:none">
                    <input id="miNivel" s value="
                               @{
                                string Nivel = Convert.ToString(Session["Int_IdNivel"]);
                                @Nivel
                            }" />
                </div>
            </form>
        </div>
    </nav>






        @RenderBody()
        @*<footer class="footer" aling="center">
                <p><strong>&copy;Cursos-@DateTime.Now.Year </strong> </p>
            </footer>*@
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">

        (function () {
            sidebarUser();
        })();

        function sidebarUser() {
            var nivel = document.getElementById("miNivel").value;
            console.log(nivel);

            switch (nivel) {
                case "1":
                    console.log("16854");
                    break;

                case "2":
                    console.log("9685412");
                    document.getElementById("Usuarios").style.display = "none";
                    document.getElementById("Registro").style.display = "none";
                    document.getElementById("VTiger").style.display = "none";
                    document.getElementById("Contact").style.display = "none";
                    break;

                default:
                    console.log("no detectado");
                    break;
            }
        }



        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }

        $("#Imprimir").hide();

        $(function () {

            // elementos de la lista
            var menues = $(".my-class");

            // manejador de click sobre todos los elementos
            menues.click(function () {
                // eliminamos active de todos los elementos
                menues.removeClass("active");
                // activamos el elemento clicado.
                $(this).addClass("active");
            });

        });

        $(function () {

            // elementos de la lista
            var menues = $("button");

            // manejador de click sobre todos los elementos
            menues.click(function () {
                // eliminamos active de todos los elementos
                menues.removeClass("active");
                // activamos el elemento clicado.
                $(this).addClass("active");
            });

        });


        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }




        function updateClock() {
            var currentTime = new Date();

            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();
            var currentSeconds = currentTime.getSeconds();

            // Pad the minutes and seconds with leading zeros, if required
            currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
            currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

            // Choose either "AM" or "PM" as appropriate
            var timeOfDay = (currentHours < 12) ? "AM" : "PM";

            // Convert the hours component to 12-hour format if needed
            currentHours = (currentHours > 12) ? currentHours - 12 : currentHours;

            // Convert an hours component of "0" to "12"
            currentHours = (currentHours == 0) ? 12 : currentHours;

            // Compose the string for display
            var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

            // Update the time display
            document.getElementById("clock").firstChild.nodeValue = currentTimeString;
        }

    </script>
</body>
</html>
